<form class="form-horizontal">
    <div class="control-group">
	<div class="controls">
	    <label class="control-label">Interface</label>
	    <select data-bind="options: settingsViewModel.settings.plugins.wifistatus.interfaces, value: settingsViewModel.settings.plugins.wifistatus.interface">
	    </select>
	</div>
    </div>
    <div class="control-group">
	<div class="controls">
	    <label class="checkbox">
		<input type="checkbox" data-bind="checked: settingsViewModel.settings.plugins.wifistatus.showBSSID"> Show Access Point BSSID
	    </label>
	</div>
    </div>
    <div class="control-group">
	<div class="controls">
	    <label class="checkbox">
		<input type="checkbox" data-bind="checked: settingsViewModel.settings.plugins.wifistatus.showIPV4Addr"> Show IPV4 address(es)
	    </label>
	</div>
    </div>
    <div class="control-group">
	<div class="controls">
	    <label class="checkbox">
		<input type="checkbox" data-bind="checked: settingsViewModel.settings.plugins.wifistatus.showIPV6Addr"> Show IPV6 address(es)
	    </label>
	</div>
    </div>
</form>


