<a title="WiFi Status" id= "navbar_plugin_wifistatus_link" class="pull-right" href="javascript:void(0)" data-bind="popover: {placement: 'bottom', trigger: 'hover', html: true, title: 'WiFi Status', content: popoverContent}" style="position: relative;">
  <svg id="navbar_plugin_wifistatus_icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-bind="html: IconSVG"/>
</a>
