<div id="navbar_plugin_wifistatus_div" class="pull-right navbar-text" data-bind="popover: {placement: 'bottom', trigger: 'hover', html: true, title: 'WiFi Status', content: popoverContent}">
  <svg id="navbar_plugin_wifistatus_icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-bind="html: IconSVG"/>
</div>
