#navbar_plugin_wifistatus_link {
  box-sizing: border-box;
  padding-bottom: 0;
  height: auto;
}
#navbar_plugin_wifistatus svg {
  fill: currentColor;
  height: 1.4em;
}
#navbar_plugin_wifistatus .popover {
  width: auto !important;
}
#navbar_plugin_wifistatus .popover table {
  width: auto !important;
  table-layout: auto !important;
}
#navbar_plugin_wifistatus .popover td {
  width: auto !important;
  white-space: nowrap;
}
